body{
	-webkit-tap-highlight-color:  transparent;
	user-select: none;
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
}

.minimal-slider{
	position: relative;
	border: 1px solid;
	width: 500px;
	height: 15px;
	left: 80px;
	top: 80px;
}

.minimal-slider-thumb{
	position: relative;
	background: grey;
	width: 50px;
	height: 50px;
	left: 0px;
	top: -17.5px;
	vertical-align: middle;
}