body{
	-webkit-tap-highlight-color:  transparent;
	user-select: none;
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
}

.minimal-slider{
	position: relative;
	border: 1px solid;
	width: 80%;
	height: 15px;
	margin: 20px;
	border-radius: 15px;
}

.minimal-slider-thumb{
	position: relative;
	background: grey;
	width: 30px;
	height: 30px;
	left: 0px;
	top: -9.5px;
	vertical-align: middle;
	border-radius: 15px;
}